name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["20", "18"]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - run: npm run test:ci
      - run: npm run test:npm
